# Python
__pycache__/
*.pyc
*.pyo

# Data
data/raw/
data/processed/
data/reference/

# Notebooks
.ipynb_checkpoints/

# Environment
.env
.venv

# OS
.DS_Store

# VEP 
115.zip
ensembl-vep*

# test files
test.py